
<%= content_for(:title, "Services") %>
<h1>Make your selection</h1>


<br/>

<% @products.each do |product| %>


    <div class="tile selected">

      <div class="group">

        <%= link_to(image_tag("products/" + product.image_file_name), product_path(product)) %>

        <div class="brand" style=" background: rgba(45, 137, 239, 0.7); font-size: small;">
          <span class=" text-center ">
        <%= link_to product.title + " " + "by" + " " + product.author, product_path(product) %>
</span>
        </div>
      </div>
    </div>

<% end %>

<div style="clear:both"></div>



